@import '../../../css/variables.scss';

.banner {
  height: auto;
  z-index: 1;
  width: 100%;
  color: $base-color;
  border-color: $base-yellow;
  background-color: $base-yellow;
  line-height: 17px;
  text-align: center;

  .banner__text__title {
    font-size: 0.875rem;
    font-family: $inter-sans;
    padding: 3px;
    margin: 6px;
  }
}
