@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Avenir Next';
  src: url(../fonts/AvenirNextLTPro-Regular.otf);
  font-weight: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url(../fonts/AvenirNextLTPro-Bold.otf);
  font-weight: bold;
}

@layer base {
  body {
    @apply font-sans text-base leading-normal text-gray-dark antialiased;
  }

  p > a {
    @apply underline;
  }
}
