/* COLORS
============================================= */

$white: #fff;
$base-yellow: #f9c400;
$light-light-grey: #eee;
$light-grey: rgb(85, 85, 85);
$medium-dark-grey: #aaa;
$dark-grey: #555;
$black: black;
$header-color: rgba(255, 255, 255, 0.5);
$dropdown-border: #ddd;
$modal-border: #e5e5df;
$base-color: #2a2a2a;

/* FEATURE DIMENSIONS
============================================= */

$header-height: 50px;
$map-widget-square: 38px;
$map-widget-svg: 21px;
$measure-content-button-height: 1.85rem;
$footer-height: 1.5rem;

%input-fields {
  width: 2.75rem;
  height: 1.5rem;
}

/* FONTS
============================================= */
$inter-sans: 'Inter', sans-serif;
$fira-sans: 'Fira Sans', sans-serif;

/* MEDIA QUERY, DEVICE WIDTH
============================================= */

$mobile-device: 475px;
$tablet-device: 768px;
$laptop-device: 800px;

/* MISC GLOBAL CLASSES
============================================= */

.hide {
  // * NOTE - to be conditionally added/removed across the app, as needed!
  display: none;
}
